.sobre{
    background-color: #ffffff;
    background-image: url(../imgs/11dbd31bf43e742af6bfe7f6ea10f983.jpg);
    background-repeat: repeat-x;
    background-size: contain;
    display: flex;
    flex-direction: row;
    
  }
  
      .stt1{
    color: #5400db9a;
    text-shadow: 2px 2px #000000;
  }
  
  .st1s{
    font-size: 80px;
    padding-left: 50px;
  }
  
  .st1n{
    font-size: 70px;
    padding-left: 80px;
  }
       html { box-sizing: border-box; }
       *, *::before, *::after { box-sizing: inherit; }

  .l-words{
    font-size: 45px;
    color: #000000;
    display: flex;
    padding-right: 400px;
    padding-left: 650px;
    filter: blur(1px) 
    contrast(25);
    font-family: 
    BlinkMacSystemFont, 
    helvetica neue,  
    Ubuntu,
    roboto,
    noto,
    arial,
    sans-serif;  
  }

 .c-word{
    $speed: 8s;
    $wordCount:5;
    animation: word $speed ease-in-out infinite;
    position: absolute;
    @for $i from 0 to $wordCount {
      &:nth-child( #{$i + 1}) {
        animation-delay: ($speed / ($wordCount + 1) * $i ) - $speed;    
      }
    }  
 }

  @keyframes word {
    0%, 5%, 100% {
      filter: blur(0);
      opacity: 1;
    }

    20%, 70% {
      filter: blur(25px);
      opacity: 0;
    }
}

  .stc2b{
    font-size: 45px;
    color: #170247;
    padding-left: 50px;
  }
  
  .stf1{
    height: 200px;
    padding-left: 50px;
    padding-top: 20px;
  }
  
  .stf2{
    width: 500px;
    height: 150px;
    padding-top: 70px;
    padding-left: 200px;
  }