.sobre{
    background-color: #ffffff;
    background-image: url(../imgs/11dbd31bf43e742af6bfe7f6ea10f983.jpg);
    background-repeat: repeat-x;
    background-size: contain;
    display: flex;
    flex-direction: row;
  }
  
      .stt1{
    color: #5400db9a;
    text-shadow: 2px 2px #000000;
  }
  
  .st1s{
    font-size: 80px;
    padding-left: 50px;
  }
  
  .st1n{
    font-size: 70px;
    padding-left: 80px;
  }
  
  .stcl{
    padding-left: 650px;
  }

  .stc2a{
    font-size: 45px;
    color: purple;
    padding-right: 400px;
  }

  .stc2b{
    font-size: 45px;
    color: #2c0247de;
    padding-left: 50px;
  }
  
  .stf1{
    height: 200px;
    padding-left: 50px;
    padding-top: 20px;
  }
  
  .stf2{
    width: 500px;
    height: 150px;
    padding-top: 70px;
    padding-left: 200px;
  }