body{
    background: linear-gradient( 45deg , 
     #3877ff85,
     #412db1, 
     #0066667c, 
     #0a0e24);
    background-size: 330%, 330%;
    width: 100vh;
    animation: colors 50s ease-in-out infinite;
}

.acess{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 400px;
    margin-top: 250px;
    margin-left: 550px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#ffffffd8, #8b8b8b81);
    border: 1px solid  #231a55 ;
    border-radius: 15px;
    
}

.at1{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    color: #006457c0;
    
}

@keyframes colors {
    0%{
        background-position: 20%, 50%;

    }

    50%{ 
        background-position: 100%, 200%;

    }
    
    100%{ 
        background-color: 100%, 50%;

    }

}